section {
    /* background-image: url(../images/background/justice.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.login-box {
    position: relative;
    width: 344px;
    background-color: #fff;
    /* backdrop-filter: blur(15px); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* border: 1px solid gray; */
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}