@import 'vuetify/styles/main.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/font/Montserrat-Medium.ttf');
}
* {
    /* font-family: 'Montserrat'; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.v-btn {
    text-transform: none !important;
}

.btn-primary {
    color: #FFFFFF !important;
    background-color: #059669 !important;
}

.btn-secondary {
    color: #000000 !important;
    background-color: #e5e7eb !important;
}

.btn-delete {
    color: #FFFFFF !important;
    background-color: #ef4444 !important;
}


.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.custom-border {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
}

.highlight {
    background: linear-gradient(135deg, #10b981 0%, #059669 100%);
}

.gradient-gray {
    background: #D2D4D5;
    background: linear-gradient(135deg, rgba(210, 212, 213, 0.5) 0%, rgba(207, 201, 207, 0.5) 50%, rgba(219, 219, 198, 0.5) 100%);
}

.icon-shadow {
    box-shadow: 0 4px 6px -1px rgba(16, 185, 129, 0.1), 0 2px 4px -1px rgba(16, 185, 129, 0.06);
}


.scale-in-hor-right {
	animation: scale-in-hor-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* HTML: <div class="loader"></div> */


@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}